@import 'tailwindcss';

@source '../../client/js/**/*.vue';
@source '../../client/views/**/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-color: darkcyan;
}
